In [50]:
#import librabries
import numpy as np
import pandas as pd

In [2]:
# Assuming your dataset is stored in a DataFrame named 'df

In [3]:
df = pd.read_csv("chipotle.tsv",sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
df_frame = df.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
df.shape

(4622, 5)

In [8]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
df.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [13]:
df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [14]:
# Question 1: Missing Values
missing_values = df.isna().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [16]:
# Question 2: Data Types
data_types = df.dtypes
print("\nData Types:")
print(data_types)

Data Types:
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [18]:
# Question 3: Duplicated Entries
duplicates = df[df.duplicated()]
print("\nDuplicated Entries:")
print(duplicates)

Duplicated Entries:
      order_id  quantity                            item_name  \
238        103         1                        Steak Burrito
248        108         1                          Canned Soda
297        129         1                        Steak Burrito
381        165         1                    Canned Soft Drink
484        205         1                         Chicken Bowl
567        233         1                    Canned Soft Drink
617        254         1                                Chips
684        282         1                    Canned Soft Drink
773        319         1                         Chicken Bowl
908        376         1                        Steak Burrito
924        381         1                   Chicken Soft Tacos
1003       412         1                        Bottled Water
1117       462         1                      Chicken Burrito
1203       491         1                      Chicken Burrito
1245       507         1                    Canned Soft Drink
1381       561         1                    Canned Soft Drink
1410       573         1                        Bottled Water
1420       576         1                        Barbacoa Bowl
1421       576         1                  Barbacoa Salad Bowl
1502       610         1                      Chicken Burrito
1534       624         1  Chips and Tomatillo-Red Chili Salsa
1548       628         1                  Chips and Guacamole
1612       651         1                                 Izze
1791       724         1                    Canned Soft Drink
1792       724         1                    Canned Soft Drink
2078       838         1                   Chicken Soft Tacos
2127       856         1                      Chicken Burrito
2307       926         1                         Chicken Bowl
2318       926         1                         Chicken Bowl
2362       940         1                    Canned Soft Drink
2448       972         1                         Chicken Bowl
2553      1011         1                    Canned Soft Drink
2554      1011         1                    Canned Soft Drink
2560      1013         1                  Chips and Guacamole
2576      1020         1  Chips and Tomatillo Red Chili Salsa
2662      1057         1                   Chicken Soft Tacos
2708      1074         1                                Chips
2717      1078         1                         Chicken Bowl
2833      1125         1                      Chicken Burrito
2881      1144         1                        Bottled Water
2973      1182         1                         Chicken Bowl
2977      1184         1                           Steak Bowl
3121      1244         1                  Chips and Guacamole
3430      1377         1  Chips and Tomatillo Red Chili Salsa
3637      1454         1                   Chicken Soft Tacos
3716      1484         1                          Canned Soda
3764      1507         1                      Chicken Burrito
3829      1534         1                      Chicken Burrito
3924      1574         1                        Bottled Water
4112      1647         1                         Chicken Bowl
4155      1660         1                  Chips and Guacamole
4236      1691         1                         Chicken Bowl
4266      1701         1                                Chips
4372      1745         1                  Chips and Guacamole
4463      1778         1                    Canned Soft Drink
4479      1785         1                        Bottled Water
4544      1806         1                        Bottled Water
4570      1817         1                        Bottled Water
4603      1827         1                     Barbacoa Burrito

                                     choice_description item_price
238   [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $11.75
248                                      [Mountain Dew]     $1.09
297   [Tomatillo Green Chili Salsa, [Rice, Cheese, G...    $11.75
381                                              [Coke]     $1.25
484   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
567                                         [Diet Coke]     $1.25
617                                                 NaN     $2.15
684                                              [Coke]     $1.25
773   [Tomatillo-Green Chili Salsa (Medium), Black B...     $8.49
908   [Roasted Chili Corn Salsa (Medium), [Rice, Faj...     $8.99
924           [Tomatillo-Red Chili Salsa (Hot), Cheese]     $8.49
1003                                                NaN     $1.50
1117  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $11.25
1203  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...     $8.75
1245                                         [Lemonade]     $1.25
1381                                             [Coke]     $1.25
1410                                                NaN     $1.50
1420                         [Roasted Chili Corn Salsa]     $9.25
1421                         [Roasted Chili Corn Salsa]     $9.39
1502  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
1534                                                NaN     $2.39
1548                                                NaN     $4.45
1612                                       [Blackberry]     $3.39
1791                                             [Coke]     $1.25
1792                                             [Coke]     $1.25
2078  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...     $8.75
2127  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $11.25
2307  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
2318  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
2362                                             [Coke]     $1.25
2448  [Tomatillo Red Chili Salsa, [Rice, Black Beans...     $8.75
2553                                             [Coke]     $1.25
2554                                             [Coke]     $1.25
2560                                                NaN     $4.45
2576                                                NaN     $2.95
2662  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
2708                                                NaN     $2.15
2717  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $11.25
2833      [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]     $8.75
2881                                                NaN     $1.50
2973  [Tomatillo-Red Chili Salsa (Hot), [Rice, Black...     $8.49
2977  [Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...     $9.25
3121                                                NaN     $4.45
3430                                                NaN     $2.95
3637                         [Fresh Tomato Salsa, Rice]     $8.75
3716                                       [Dr. Pepper]     $1.09
3764  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
3829  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...     $8.75
3924                                                NaN     $1.50
4112  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
4155                                                NaN     $4.45
4236                                       [White Rice]     $8.50
4266                                                NaN     $2.15
4372                                                NaN     $4.45
4463                                         [Lemonade]     $1.25
4479                                                NaN     $1.50
4544                                                NaN     $1.50
4570                                                NaN     $1.50
4603                      [Tomatillo Green Chili Salsa]     $9.25

In [20]:
# Dropping duplicates
# df = df.drop_duplicates()
df = df.drop_duplicates()

In [27]:
quantity_price_check = df[['quantity', 'item_price']]

In [28]:
# Question 4: Quantity and Item Price
# Checking for inconsistencies or anomalies
# Assuming Quantity and Item Price are numeric columns
# If not, you may need to convert them to numeric types
quantity_price_check = df[['quantity', 'item_price']].apply(pd.to_numeric, errors='coerce')
print("\nquantity and item_price Relationships:")
print(quantity_price_check)

quantity and item_price Relationships:
      quantity  item_price
0            1         NaN
1            1         NaN
2            1         NaN
3            1         NaN
4            2         NaN
...        ...         ...
4617         1         NaN
4618         1         NaN
4619         1         NaN
4620         1         NaN
4621         1         NaN

[4563 rows x 2 columns]

In [29]:
# Display initial statistics for quantity and item_price columns
initial_stats = df[['quantity', 'item_price']].describe()
print("Initial Statistics:")
print(initial_stats)

Initial Statistics:
          quantity
count  4563.000000
mean      1.076704
std       0.412739
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [32]:
# Examine Quantity and Item Price for potential issues
#  may want to check for negative values, zero values, or non-numeric entries
df['item_price'] = pd.to_numeric(df['item_price'], errors='coerce')
quantity_issues = df[df['quantity'] <= 0]
item_price_issues = df[df['item_price'] <= 0]

In [33]:
print("\nquantity Issues:")
print(quantity_issues)

quantity Issues:
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [34]:
print("\nitem price Issues:")
print(item_price_issues)

item price Issues:
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [36]:
# Correcting issues:
# For Quantity issues,  may choose to drop rows with negative or zero values
df = df[df['quantity'] > 0]

In [38]:
# For Item Price issues, you can replace negative or zero values with NaN or drop the rows
df['item price'] = df['item_price'].apply(lambda x: x if x > 0 else None)

In [39]:
# Display updated statistics after corrections
updated_stats = df[['quantity', 'item_price']].describe()
print("\nUpdated Statistics:")
print(updated_stats)

Updated Statistics:
          quantity  item_price
count  4563.000000         0.0
mean      1.076704         NaN
std       0.412739         NaN
min       1.000000         NaN
25%       1.000000         NaN
50%       1.000000         NaN
75%       1.000000         NaN
max      15.000000         NaN

In [41]:
# Question 5: Choice Description
# Handling multiple descriptions for a single item
# You may choose to concatenate or select a primary description
df['Choice Description'] = df.groupby('item_name')['choice_description'].transform(lambda x: ', '.join(x.dropna()))

In [43]:
# Display initial sample of 'choice_description' for each 'item_name'
print("\nInitial Choices:")
unique_items = df["item_name"].unique()
print(unique_items)

Initial Choices:
['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

In [44]:
# Group by 'Item Name' and concatenate multiple descriptions into a single string
df['Choice Description'] = df.groupby('item_name')['Choice Description'].transform(lambda x: ', '.join(x.dropna()))

In [45]:
# Display updated sample of 'Choice Description' for each 'Item Name'
unique_items_updated = df[['item_name', 'Choice Description']].drop_duplicates()
print("\nUpdated Choices:")
print(unique_items_updated)

Updated Choices:
                                  item_name  \
0              Chips and Fresh Tomato Salsa
1                                      Izze
2                          Nantucket Nectar
3     Chips and Tomatillo-Green Chili Salsa
4                              Chicken Bowl
6                             Side of Chips
7                             Steak Burrito
8                          Steak Soft Tacos
10                      Chips and Guacamole
11                     Chicken Crispy Tacos
12                       Chicken Soft Tacos
16                          Chicken Burrito
18                              Canned Soda
21                         Barbacoa Burrito
27                         Carnitas Burrito
33                            Carnitas Bowl
34                            Bottled Water
38    Chips and Tomatillo Green Chili Salsa
39                            Barbacoa Bowl
40                                    Chips
44                       Chicken Salad Bowl
54                               Steak Bowl
56                      Barbacoa Soft Tacos
57                           Veggie Burrito
62                              Veggie Bowl
92                       Steak Crispy Tacos
111     Chips and Tomatillo Red Chili Salsa
168                   Barbacoa Crispy Tacos
186                       Veggie Salad Bowl
191      Chips and Roasted Chili-Corn Salsa
233      Chips and Roasted Chili Corn Salsa
237                     Carnitas Soft Tacos
250                           Chicken Salad
263                       Canned Soft Drink
281                        Steak Salad Bowl
298                       6 Pack Soft Drink
300     Chips and Tomatillo-Red Chili Salsa
445                                    Bowl
510                                 Burrito
520                            Crispy Tacos
554                   Carnitas Crispy Tacos
664                             Steak Salad
674       Chips and Mild Fresh Tomato Salsa
738                       Veggie Soft Tacos
1132                    Carnitas Salad Bowl
1229                    Barbacoa Salad Bowl
1414                                  Salad
1653                    Veggie Crispy Tacos
1694                           Veggie Salad
3750                         Carnitas Salad

                                     Choice Description
0     , , , , , , , , , , , , , , , , , , , , , , , ...
1     [Clementine], [Grapefruit], [Blackberry], [Bla...
2     [Apple], [Pomegranate Cherry], [Pineapple Oran...
3     , , , , , , , , , , , , , , , , , , , , , , , ...
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
6     , , , , , , , , , , , , , , , , , , , , , , , ...
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...
10    , , , , , , , , , , , , , , , , , , , , , , , ...
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...
18    [Sprite], [Dr. Pepper], [Mountain Dew], [Sprit...
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...
33    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
34    , , , , , , , , , , , , , , , , , , , , , , , ...
38    , , , , , , , , , , , , , , , , , , , , , , , ...
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...
40    , , , , , , , , , , , , , , , , , , , , , , , ...
44    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
54    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...
56    [Fresh Tomato Salsa, [Fajita Vegetables, Black...
57    [Tomatillo Red Chili Salsa, [Fajita Vegetables...
62    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
92    [Fresh Tomato Salsa, Sour Cream], [[Roasted Ch...
111   , , , , , , , , , , , , , , , , , , , , , , , ...
168   [Tomatillo Red Chili Salsa, [Rice, Black Beans...
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
191                  , , , , , , , , , , , , , , , , ,
233          , , , , , , , , , , , , , , , , , , , , ,
237   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...
250   [Roasted Chili Corn Salsa (Medium), [Black Bea...
263   [Coke], [Sprite], [Coke], [Coke], [Lemonade], ...
281   [Tomatillo Red Chili Salsa, [Black Beans, Chee...
298   [Sprite], [Diet Coke], [Coke], [Diet Coke], [D...
300                , , , , , , , , , , , , , , , , , ,
445   [Braised Carnitas, Pinto Beans, [Sour Cream, C...
510   [Adobo-Marinated and Grilled Chicken, Pinto Be...
520   [Adobo-Marinated and Grilled Steak], [Adobo-Ma...
554   [Roasted Chili Corn Salsa], [Tomatillo Green C...
664   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
674
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...
1132  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...
1229  [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...
1414  [Brown Rice, Adobo-Marinated and Grilled Chick...
1653  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...
1694  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
3750  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...

In [48]:
# Question 6: Handling Special Characters
# Checking for and handling special characters
# Assuming only Item Name and Choice Description contain text-based columns
df[['item_name', 'choice_description']] =df[['item_name', 'choice_description']].replace('[^a-zA-Z0-9\s]', '', regex=True)

In [51]:
# Question 7: Order Id Integrity
# Cross-referencing Order ID column for integrity
order_id_check = df.groupby('order_id')['item_name'].nunique()
print("\nOrder ID Integrity Check:")
print(order_id_check)

Order ID Integrity Check:
order_id
1       4
2       1
3       2
4       2
5       2
       ..
1830    2
1831    3
1832    2
1833    1
1834    1
Name: item_name, Length: 1834, dtype: int64

In [52]:
# Question 8: Item Name Standardization
# Standardizing Item Name column
df['item_name'] = df['item_name'].str.lower()

In [54]:
# Question 9: Quantity and Price Relationships
# Investigating relationships between Quantity and Item Price
# Display initial statistics for Quantity and Item Price columns
initial_stats = df[['quantity', 'item_price']].describe()
print("Initial Statistics:")
print(initial_stats)

Initial Statistics:
          quantity  item_price
count  4563.000000         0.0
mean      1.076704         NaN
std       0.412739         NaN
min       1.000000         NaN
25%       1.000000         NaN
50%       1.000000         NaN
75%       1.000000         NaN
max      15.000000         NaN

In [55]:
# Calculate Total Price for each item
df['total_price'] = df['quantity'] * df['item_price']

In [56]:
# Display sample of 'Quantity', 'Item Price', and 'Total Price' columns
sample_with_total_price = df[['quantity', 'item_price', 'total_price']].head()
print("\nSample with toatal_price:")
print(sample_with_total_price)

Sample with toatal_price:
   quantity  item_price  total_price
0         1         NaN          NaN
1         1         NaN          NaN
2         1         NaN          NaN
3         1         NaN          NaN
4         2         NaN          NaN

In [57]:
# Investigate relationships between Quantity and Item Price
# You may want to check for inconsistent relationships, such as negative total prices
inconsistent_relationships = df[df['total_price'] < 0]
print("\nCases with Negative total_rice:")
print(inconsistent_relationships)

Cases with Negative total_rice:
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, item price, Choice Description, total_price]
Index: []

In [58]:
# Adjustments for accurate analysis
# If there are cases with negative total prices, you may need to investigate and decide on appropriate adjustments
# For example, replace negative total prices with NaN or drop the corresponding rows

# chipotle_df['Total Price'] = chipotle_df['Total Price'].apply(lambda x: x if x >= 0 else None)
# or
# chipotle_df = chipotle_df[chipotle_df['Total Price'] >= 0]

# Display updated statistics after adjustments
updated_stats = df[['quantity', 'item_price', 'total_price']].describe()
print("\nUpdated Statistics:")
print(updated_stats)

Updated Statistics:
          quantity  item_price  total_price
count  4563.000000         0.0          0.0
mean      1.076704         NaN          NaN
std       0.412739         NaN          NaN
min       1.000000         NaN          NaN
25%       1.000000         NaN          NaN
50%       1.000000         NaN          NaN
75%       1.000000         NaN          NaN
max      15.000000         NaN          NaN

In [60]:
#Question 9: Quantity and Price Relationships

#Investigating relationships between Quantity and Item Price
# Display initial statistics for Quantity and Item Price columns
initial_stats = df[['quantity', 'item_price']].describe()
print("Initial Statistics:")
print(initial_stats)

Initial Statistics:
          quantity  item_price
count  4563.000000         0.0
mean      1.076704         NaN
std       0.412739         NaN
min       1.000000         NaN
25%       1.000000         NaN
50%       1.000000         NaN
75%       1.000000         NaN
max      15.000000         NaN

In [63]:
# Check for negative or zero values in Quantity and Item Price
negative_quantity = df[df['quantity'] <= 0]
negative_price = df[df['item_price'] <= 0]

In [64]:
print("\nRows with Negative or Zero Quantity:")
print(negative_quantity)

print("\nRows with Negative or Zero Item Price:")
print(negative_price)

Rows with Negative or Zero Quantity:
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, item price, Choice Description, total_price]
Index: []

Rows with Negative or Zero Item Price:
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, item price, Choice Description, total_price]
Index: []

In [65]:
print("\nCases with Negative Total Price:")
print(inconsistent_relationships)

Cases with Negative Total Price:
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, item price, Choice Description, total_price]
Index: []

In [66]:
# Replace negative values with NaN
df['quantity'] = df['quantity'].apply(lambda x: x if x > 0 else None)
df['item_price'] = df['item_price'].apply(lambda x: x if x > 0 else None)

In [67]:
# Display updated statistics after adjustments
updated_stats = df[['quantity', 'item_price']].describe()
print("\nUpdated Statistics after Adjustments:")
print(updated_stats)

Updated Statistics after Adjustments:
          quantity
count  4563.000000
mean      1.076704
std       0.412739
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [71]:
#Question 10: Data Integrity Check
#Performing a data integrity check
## Calculate total prices for each row
df['Calculated_total_price'] = df['quantity'] * df['item_price']

# Check for discrepancies between calculated and actual total prices
price_discrepancies = df[df['Calculated_total_price'] != df['total_price']]

# Display rows with discrepancies
print("Rows with Price Discrepancies:")
print(price_discrepancies[['quantity', 'item_price', 'total_price', 'Calculated_total_price']])

# Perform a count of rows with discrepancies
discrepancies_count = len(price_discrepancies)
print(f"\nNumber of Rows with Price Discrepancies: {discrepancies_count}")

# Display a sample of rows with discrepancies
sample_discrepancies = price_discrepancies[['quantity', 'item_price', 'total_price', 'Calculated_total_price']].head()
print("\nSample of Rows with Price Discrepancies:")
print(sample_discrepancies)

Rows with Price Discrepancies:
      quantity item_price  total_price Calculated_total_price
0            1       None          NaN                   None
1            1       None          NaN                   None
2            1       None          NaN                   None
3            1       None          NaN                   None
4            2       None          NaN                   None
...        ...        ...          ...                    ...
4617         1       None          NaN                   None
4618         1       None          NaN                   None
4619         1       None          NaN                   None
4620         1       None          NaN                   None
4621         1       None          NaN                   None

[4563 rows x 4 columns]

Number of Rows with Price Discrepancies: 4563

Sample of Rows with Price Discrepancies:
   quantity item_price  total_price Calculated_total_price
0         1       None          NaN                    NaN
1         1       None          NaN                    NaN
2         1       None          NaN                    NaN
3         1       None          NaN                    NaN
4         2       None          NaN                    NaN

In [75]:
#Question 12: Handling Categorical Data
#Encoding or transforming categorical columns
#Assuming 'Item Name' is a categorical column
df['item_name'] = df['item_name'].astype('category')
encoded_item_name = df['item_name'].cat.codes
print("\nEncoded Item Name:")
print(encoded_item_name)

Encoded Item Name:
0       24
1       34
2       35
3       31
4       17
        ..
4617    39
4618    39
4619    21
4620    21
4621    21
Length: 4563, dtype: int8